#tabuleiro{
    display: inline-grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 15px;
}

#tabuleiro div{
    border: 3px red;
    padding: 45px;
    font-size: 2em;
    background-color: gray;
    border-radius: 10px;
}

#tabuleiro div:hover{
    background-color: darkgray;
}

#container{
    display: flex;
    align-items: center;
    flex-flow: column;
    width: 75%;
    margin: auto;
}

.menuButton{
    padding: 30px 10px;
    background-color: gray;
    border-radius: 7px;
    margin: 10px;
    font-size: 1.25em;
}

.menuButton:hover{
    background-color: darkgray;
    transform: scale(1.15);
    transition-duration: .4s;
}

#vez{
    visibility: hidden;
}

#voltar{
    visibility: hidden;
    margin: 10px;
}

body {
    font-family: 'open sans';
    font-style: normal;
    font-weight: normal;
}

#menu {
    display: flex;
    flex-flow: column;
}

#voltarNum {
    font-size: 1.25em;
    border-radius: 5px;
}

#submitVoltar {
    padding: 10px;
    border-radius: 5px;
    background-color: gray;
}

#submitVoltar:hover {
    background-color: darkgray;
}